
{% if technic.progressBar is not empty %}


    <h4 class="progress-bar-title p-0 mb-3">🌳 Réduction espérée {% if technic.progressBar < 15 %}- {{technic.progressBar}}% {% endif %} <img src="{{asset ('info.svg', 'misc')}}" class="info-popover-icon" alt="Info icon (an i in a circle)" loading="lazy" width="25" height="25" data-bs-toggle="popover" data-bs-trigger="focus" tabindex="0" title="Qu'est-ce que c'est ?" data-bs-content="Ce pourcentage est une <b>estimation</b> de la réduction du total des émissions de gaz à effets de serre <b>dûs à l'aéronautique à l'échelle mondiale</b> que l'on pourrait obtenir si cette solution était appliquée massivement.<br><br>Cette estimation doit être seulement considérée comme un <b>ordre de grandeur</b>." ></h4>

    <div class="progress p-0">
        <div class="progress-bar" role="progressbar" style="width: {{technic.progressBar}}%" aria-valuenow="{{technic.progressBar}}" aria-valuemin="0" aria-valuemax="100">{% if technic.progressBar >= 15 %}{{technic.progressBar}}%{% endif %}</div>
    </div>


    <style>

        @media screen and (min-width: 820px) {

            .progress{
                height:23px;
            } 

        }
    
        @media screen and (max-width: 580px) {

            .progress-bar-title{

                font-size: 18px;
            }


        }                
    
    </style>


{% endif %}
