{% set countSlides = technic.slides | length %}

<div class="row mb-2 mb-md-3 mb-lg-5">

    {% if isAdmin %}

        <div class="pp-edition-mode d-flex align-items-center mb-3">

            <img 
            
                src= "{{ asset( 'slideshow.svg', 'pp_consult') }}"
                class= "pp-struct-icon"  
                height= "27" 
                width= "27" 
                alt= "slideshow icon"
                
            >

            <h3 class="lh-1 m-0 mb-1 me-3">Diaporama</h3>

            <button type="button" data-bs-toggle="modal" data-bs-target="#addImageSlideFormModal"
            class="pp-edition-mode btn btn-light btn-sm me-3">+ Image</button>

            <button type="button" data-bs-toggle="modal" data-bs-target="#addVideoSlideFormModal" class="pp-edition-mode btn btn-light btn-sm me-3">+ Video</button>

            <button type="button" class="pp-edition-mode show-delete-items-buttons inactivated btn btn-light btn-sm me-3" aria-label="Show delete element buttons">

                <img src="{{ asset('trash.svg', 'pp_wysiwyg')}}"  alt="trash icon"> <span class="fw-bold">...</span>

            </button>

        </div>
    
    {% endif %}

    <div class="col-md-6 p-0 pe-md-3 ps-md-2 mb-2 mb-md-0"> {# wrapping container to add a gutter #}

        <div class="d-flex flex-column justify-content-center sm-border-none border rounded p-3 h-100">
                
            {% if countSlides > 0 %}

                {% set slides = technic.slides %}
        

                    <div id="slideshowTechnics" class="carousel slide" data-bs-interval="false">

                        <div class="carousel-inner">

                            {% for slide in slides | reverse %}

                                <div class="carousel-item {% if loop.first %}active{% endif %}">

                                    {% if slide.type =="image" %}

                                        <img src="{{ vich_uploader_asset(slide) }}" class="d-block" alt="Image illustrating a technic to reduce airplane gas emissions">

                                    {% elseif slide.type == "youtube_video" %}

                                        <iframe id="{{slide.id}}" width="100%" height="100%" src="https://www.youtube.com/embed/{{slide.address}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    
                                    {% endif %}

                                </div>
                                
                            {% endfor %}


                            <style>

                                .carousel-item{


                                    height: 350px;
                                    position: relative;

                                }

                                .carousel-item img { /* vertically center image */
                                    max-height: 100%;
                                    max-width: 100%;
                                    width: auto;
                                    height: auto;
                                    position: absolute;
                                    top: 0;
                                    bottom: 0;
                                    left: 0;
                                    right: 0;
                                    margin: auto;
                                    border-radius: 3px;
                                }

                                                            
                                @media screen and (max-width: 580px) {

                                        
                                    .carousel-item {
                                        height: 190px;
                                    }
                                    
                                }


                                
                            </style>

                        </div>

                        {# {% if countSlides > 1 %}

                            <button class="carousel-control-prev" type="button" data-bs-target="#slideshowTechnics" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>

                            <button class="carousel-control-next" type="button" data-bs-target="#slideshowTechnics" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        
                        {% endif %} #}

                    </div>

                    

            {% endif %}
        
        </div>

    </div>

        

        <div class="technic-struct-container col-md-6 p-0">

            <div class="sm-border-none border rounded p-3 h-100 d-flex flex-column align-items-center justify-content-center">

                <div class="ps-md-2">

                    {% if technic.textDescription is not empty %}
                    
                        {{technic.textDescription | raw}}

                    {% else %}
                        
                        .

                    {% endif %}

                </div>

            </div>

        </div>
    

</div>