{% extends 'base.html.twig' %}

{% block name %}Présenter une Méthode{% endblock %}

{% block body %}

    <div class="page-container container col-lg-8 px-2">

    <h2 class="mt-md-3 mb-md-4">🛠️ Présenter une technique</h2>

        <div class="alert alert-success mt-4" role="alert">
            
           <div><span class="fs-5 pb-1 pe-2">🌳 </span> Merci de présenter une technique qui rendrait l'aviation plus durable.</div>

        </div>
        

        <div class="alert alert-primary" role="alert">
            
            
            <div>
                <span class="fs-5 pb-1 pe-2">©️ </span>Votre contribution sera présentée sous licence creative commons.
            </div>

            <hr>

            <div>
            
                <span class="fs-5 pb-1 pe-2">👉 </span> Nous ajouterons des photos ou des images pour illustrer votre contribution.
            </div>

        </div>

      


        {{ form_start(form) }}


            <div class="my-5">

                {{ form_errors(form.name) }}

                {{ form_label(form.name) }}
                
                {{ form_widget(form.name) }}

            </div>

            <div class="my-5">

                {{ form_errors(form.textDescription) }}

                {{ form_label(form.textDescription) }}
                
                {{ form_widget(form.textDescription) }}

            </div>

            <div class="row my-5">

                <div class="col-md-6 pe-md-3">

                    <div class="mb-2">
                        {{ form_label(form.pros) }}
                    </div>

                    {{ form_errors(form.pros) }}

                    {{ form_widget(form.pros) }}

                </div>
                
                <div class="col-md-6 pe-md-2">

                    <div class="mb-2">
                        {{ form_label(form.cons) }}
                    </div>

                    {{ form_errors(form.cons) }}
                    
                    {{ form_widget(form.cons) }}
                
                </div>
                
            
            
            </div>

            <div class="row my-5">

                <div class="col-md-6 pe-md-3">

                    <div class="mb-2">
                        {{ form_label(form.notes) }}
                    </div>

                    {{ form_errors(form.notes) }}

                    {{ form_widget(form.notes) }}

                </div>
                
                <div class="col-md-6 pe-md-2">

                    <div class="mb-2">
                        {{ form_label(form.sources) }}
                    </div>

                    {{ form_errors(form.sources) }}
                    
                    {{ form_widget(form.sources) }}
                
                </div>
                
            
            
            </div>

            <div class=" mb-5">

                <div class="mb-2">
                    {{ form_label(form.progressBar) }}
                </div>

                {{ form_errors(form.progressBar) }}
                
                <div class="col-md-6">
                
                    {{ form_widget(form.progressBar) }}

                </div>
            
            </div>

            
            {# Admin Actions #} 

            {% set isAdmin = false %}
            {% if is_granted('ROLE_ADMIN') %} {% set isAdmin = true %} {% endif %}

            <div class="{% if not isAdmin %}d-none{% endif %} mb-5">

                <div class="mb-2">

                    {{ form_label(form.licence) }}

                </div>

                {{ form_errors(form.licence) }}
                
                <div class="col-md-6">
                
                    {{ form_widget(form.licence) }}

                </div>
            
            </div>


            <button type="submit" class="btn btn-validate mb-2 me-3">✔️ Valider</button>

            <a href="{{path('homepage')}}"><button type="button" class="btn btn-go-back mb-2">❌ Annuler</button></a>

        {{ form_end(form) }}



        
                
            {% if isAdmin %}

                <div class="my-5">

                    <h4 class="mb-4">🔑 Autres Actions Admin</h4>

                    <div class="border border-primary rounded mb-4 p-3">

                        {{ form_start(technicLogoForm) }}

                        {{form_widget(technicLogoForm)}}

                        <button type="submit" class="btn btn-validate mb-2 me-3">Envoyer</button>

                        {{ form_end(technicLogoForm) }}

                    </div>

                    <div class="border border-primary rounded my-4 p-3">

                        {{ form_start(technicValidationForm) }}

                            {{form_widget(technicValidationForm)}}

                            <button type="submit" class="btn btn-validate mb-2 me-3">Envoyer</button>

                        {{ form_end(technicValidationForm) }}

                    </div>
                    
                </div>

            {% endif %}    


    </div>



    
    <!-- CDN - TinyMCE Rich Text Editor -->

    <script src="https://cdn.tiny.cloud/1/ozugcg6rtcsvf9xx1qfujj2aluoo7ezwd2pfx5xnwf4nhujq/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    
    <!-- Parameters - TinyMCE Rich Text Editor -->

    <script>
        
        tinymce.init({

            mode : "specific_textareas",

            editor_selector : "tinymce",

            width : "100%",

            height: "350",

            entity_encoding : "raw",

            menubar: 'edit format',

            menu: {

                edit: { title: 'Edit', items: 'undo redo | cut copy paste | selectall | searchreplace' },

                format: { title: 'Format', items: 'bold italic underline strikethrough superscript subscript codeformat removeformat' },

            }, 

            language: 'fr_FR',

            browser_spellcheck: true,

            plugins: "emoticons, lists",

            toolbar: "undo redo emoticons bullist bold italic underline alignleft aligncenter alignright alignjustify outdent indent",

            content_style: "body {padding: 0px 15px;}",

            nowrap : false,

        });
        
        tinymce.init({

            mode : "specific_textareas",

            editor_selector : "tinymceProsCons",

            width : "100%",

            height: "350",

            entity_encoding : "raw",

            menubar: '',

            menu: {}, 

            language: 'fr_FR',

            browser_spellcheck: true,

            plugins: "emoticons, lists",

            toolbar: "undo redo bullist bold emoticons ",

            content_style: "body {padding: 0px 15px;}",

            nowrap : false,

        });


    </script>



{% endblock %}



{% block javascripts %}

  <script>
    
      $(document).ready(function(){

        $(".form-check").addClass("mt-4");

      });

  </script>

{% endblock %}
