{% extends 'base.html.twig' %}

{% block stylesheets %}

    <link href="/css/technic_presentation_page.css" rel="stylesheet">

    <link href="/css/technic_wysiwyg.css" rel="stylesheet">


{% endblock %}

{% block name %}Ajouter une Méthode{% endblock %}

{% block body %}



    {% set isAdmin = false %}
    {% if is_granted('ROLE_ADMIN') %} {% set isAdmin = true %} {% endif %}

    {% set isCreator = false %}
    {% if technic.getCreator == app.user %} {% set isCreator = true %} {% endif %}


    

    <div class=" {{isCreator or isAdmin ? 'in-edition-mode'}} tp-container page-container container col-lg-11 col-xxl-9 px-0 pb-5">

        <div class="row mb-5">

            {# Technic Thumbnail if provided #}

            {% if technic.logo %}

                <div class="col-4 col-md-3 col-lg-2">

                    <img class="thumbnail rounded img-fluid" src="{{ vich_uploader_asset(technic) }}" alt="Technic Thumbnail">
                
                </div>
            
            {% endif %}

            {# Technic Name #}

            <div class="col-8 col-md-9 col-lg-10 ps-1 ps-md-3 d-flex align-items-center">

                <h2 class="fw-bold">{{technic.name[:1] | upper ~ technic.name[1:]}}</h2>

                {% if isCreator or isAdmin %}

                    <a href="{{ path( 'update_technic', {'id': technic.id} ) }}" class="ms-3">Modifier</a>
                
                {% endif %}

            </div>
        
        </div>

        {% set countSlides = technic.slides | length %}


        <div class="row mb-5">

            {% if isAdmin %}

                <div class="pp-edition-mode d-flex align-items-center mb-3">

                    <img 
                    
                        src= "{{ asset( 'slideshow.svg', 'pp_consult') }}"
                        class= "pp-struct-icon"  
                        height= "27" 
                        width= "27" 
                        alt= "slideshow icon"
                        
                    >

                    <h3 class="lh-1 m-0 mb-1 me-3">Diaporama</h3>

                    <button type="button" data-bs-toggle="modal" data-bs-target="#addImageSlideFormModal"
				    class="pp-edition-mode btn btn-light btn-sm me-3">+ Image</button>

                    <button type="button" data-bs-toggle="modal" data-bs-target="#addVideoSlideFormModal" class="pp-edition-mode btn btn-light btn-sm me-3">+ Video</button>

                    <button type="button" class="pp-edition-mode show-delete-items-buttons inactivated btn btn-light btn-sm me-3" aria-label="Show delete element buttons">

                        <img src="{{ asset('trash.svg', 'pp_wysiwyg')}}"  alt="trash icon"> <span class="fw-bold">...</span>

                    </button>

                </div>
            
            {% endif %}

            {% if countSlides > 0 %}

                {% set slides = technic.slides %}
            
                <div class="col-md-6 p-0 pe-md-3 ps-md-2 mb-2 mb-md-0"> {# wrapping container to add a gutter #}

                    <div class="border rounded p-3 h-100">

                        <div id="slideshowTechnics" class="carousel slide" data-bs-interval="false">

                            <div class="carousel-inner">

                                {% for slide in slides %}

                                    <div class="carousel-item {% if loop.first %}active{% endif %}">

                                        <img src="{{ vich_uploader_asset(slide) }}" class="d-block" alt="Image illustrating a technic to reduce airplane gas emissions">

                                    </div>
                                    
                                {% endfor %}


                                <style>

                                    .carousel-item{


                                        height: 350px;
                                        position: relative;

                                    }

                                    .carousel-item img { /* vertically center image */
                                        max-height: 100%;
                                        max-width: 100%;
                                        width: auto;
                                        height: auto;
                                        position: absolute;
                                        top: 0;
                                        bottom: 0;
                                        left: 0;
                                        right: 0;
                                        margin: auto;
                                        border-radius: 3px;
                                    }
                                    
                                  
                                </style>

                            </div>

                            {% if countSlides > 1 %}

                                <button class="carousel-control-prev" type="button" data-bs-target="#slideshowTechnics" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>

                                <button class="carousel-control-next" type="button" data-bs-target="#slideshowTechnics" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            
                            {% endif %}

                        </div>
                    
                    </div>

                </div>

            {% endif %}

            {% if technic.textDescription is not empty %}    

                <div class="col-md-6 p-0">

                    <div class="border rounded p-3 h-100 d-flex align-items-center">

                        <div class="ps-md-2">
                        
                            {{technic.textDescription | raw}}

                        </div>

                    </div>

                </div>
            
            {% endif %}


        
        </div>

        <div class="row">

            {% if technic.pros is not empty %}
            
                <div class="pros col-md-6 p-0 pe-md-3 ps-md-2 mb-2 mb-md-0"> {# wrapping container to add a gutter #}

                    <div class="border rounded p-3 pb-1 h-100">
                        
                        <h4 class="mb-3">👍 Intérêts / avantages</h4>

                        <div class="ps-md-3">
                        
                            {{technic.pros | raw}}

                        </div>
                    
                    </div>

                </div>

            {% endif %}

            {% if technic.cons is not empty %}    

                <div class="cons col-md-6 p-0">

                    <div class="border rounded p-3 pb-1 h-100">

                        <h4 class="mb-3">👎 Limites / inconvénients</h4>

                        <div class="ps-md-3">
                        
                            {{technic.cons | raw}}

                        </div>

                    </div>

                </div>
            
            {% endif %}

            <style>

                .pros li:not(:last-child), .cons li:not(:last-child) {

                    margin-bottom : 10px;

                }
            
            
            </style>

        
        </div>



        {% if isCreator or isAdmin %}
            
            {# Switch Between Edition Mode and Consultation Mode Button #}

            <button id="pp-switch-edit-consult-mode" class="edition-mode" title="Switch between edition mode and consultation mode">

                <img id="pp-consult-icon" class="pp-edition-mode" src="{{ asset('eye.svg', 'pp_wysiwyg')}}" height="30" width="30"  alt="eye icon">

                <img id="pp-edit-icon" class="pp-consultation-mode" src="{{ asset('pen.svg', 'pp_wysiwyg')}}" height="30" width="30"  alt="pen icon">

            </button>
        
        {% endif %}

        

        <div class="pp-edition-mode">
        
            {% if isCreator or isAdmin %}

                {% include "technic/_show/wysiwyg.html.twig" %}
                
                <div class="my-5">

                    <a href="{{ path( 'update_technic', {'id': technic.id} ) }}"><button type="button" class="btn btn-lg btn-light">✏️ Modifier</button></a>
            
                </div>
                
            {% endif %}        

            {% if isAdmin %}

                <div class="my-5">

                    <h4 class="mb-3">🔑 Actions Admin</h4>

                    <div class="border border-primary rounded mb-4 p-3">

                        {{ form_start(technicLogoForm) }}

                        {{form_widget(technicLogoForm)}}

                        <button type="submit" class="btn btn-validate mb-2 me-3">Envoyer</button>

                        {{ form_end(technicLogoForm) }}

                    </div>

                    <div class="border border-primary rounded my-4 p-3">

                        {{ form_start(technicValidationForm) }}

                            {{form_widget(technicValidationForm)}}

                            <button type="submit" class="btn btn-validate mb-2 me-3">Envoyer</button>

                        {{ form_end(technicValidationForm) }}

                    </div>
                    
                </div>


                {# Forms inclusions #}

                {% include "project_presentation/edit/slides/add_image_form.html.twig" with {'form': addImageForm} %}

                {% include "project_presentation/edit/slides/add_video_form.html.twig" with {'form': addVideoForm} %}


            {% endif %}    

        </div>
      

    </div>


{% endblock %}
