{% extends 'base.html.twig' %}

{% block stylesheets %}

    <link href="/css/technic_presentation_page.css" rel="stylesheet">
    <link href="/css/technic_wysiwyg.css" rel="stylesheet">
    <link href="/css/show_more_less_button.css" rel="stylesheet">


{% endblock %}


{% block javascripts %}<script src="/js/show_more_less_button.js"></script>{% endblock %}


{% block name %}Ajouter une Méthode{% endblock %}

{% block body %}



    {% set isAdmin = false %}
    {% if is_granted('ROLE_ADMIN') %} {% set isAdmin = true %} {% endif %}

    {% set isCreator = false %}
    {% if technic.getCreator == app.user %} {% set isCreator = true %} {% endif %}


    

    <div class=" {{isCreator or isAdmin ? 'in-edition-mode'}} tp-container page-container container col-lg-11 col-xxl-9 px-0 pb-5">

        {% if technic.sources is empty %}
                        
            <div class="container col-lg-12 col-xxl-9 px-0 mb-md-4 mb-lg-5">

            <div id="" class="help-us alert alert-success" role="alert">

                <h4 class="text-center alert-heading my-4">👉 Cette page reste à compléter. Votre aide résoudrait ce problème 👈</h4>

                <p class="text-center">Si vous souhaitez <b>partager vos connaissances</b>, vous pouvez envoyer un fichier word, pdf, libre office, ou du texte brut à l'adresse <b>solutions[arobase]flycore[point]org</b> </p>

                <p class="text-center">Nous publierons votre contribution avec votre nom ou pseudonyme selon votre préférence, et <b>cette page deviendra accessible à tous</b> sous licence Creative Commons.</p>

                <p class="text-center my-4">Nous vous remercions par avance <u><b>chaleureusement</b></u> pour votre participation.</p>

            </div>
                
            <style>


                .help-us{

                background-color: #f3fffa;
                }


                .help-us p{

                font-size: 18px;
                }


                .help-us .annotation{

                font-size: 14px;
                }


                        
                @media screen and (max-width: 580px) {

                .help-us p{

                    font-size: 17px;
                }


                .help-us .annotation{

                    font-size: 13px;
                }

                }
            
            
            
            </style>  
            
            </div>                   
                    
        {% endif %}


        {% include "technic/_show/upper_box.html.twig" %}

        {% include "technic/_show/slideshow_text_description.html.twig" %}

        {% include "technic/_show/pros_cons.html.twig" %}

        {% include "technic/_show/notes_status.html.twig" %}

        {% include "technic/_show/sources.html.twig" %}

        <div class="row">

            <div class="ps-2">
                
                <div class="d-inline-block border rounded p-3">

                    <div class="">
                    
                        Page créée par <a href="{{path('show_user_profile', {'userNameSlug': technic.getCreator.userNameSlug})}}">{{technic.getCreator.userName}}</a>.
                        
                    </div>

                    <div class="">
                    
                        Le {{technic.createdAt | date('d-m-Y')}}.

                    </div>

                    {% if technic.updatedAt %}

                        <div class="">
                        
                            Mise à jour le {{technic.createdAt | date('d-m-Y')}}.

                        </div>
                    
                    {% endif %}

                    <div class="">
                    
                        Complétée par les rédacteurs du site.
                        
                    </div>

                    <div class="">
                    
                        Licence Creative Commons <a href="https://creativecommons.org/licenses/by/4.0/deed.fr">CC-BY</a>.

                    </div>
                
                </div>
            
            </div>

        </div>


        {% if isCreator or isAdmin %}
            
            {# Warning : Very dirty code reusage #}
            {# Switch Between Edition Mode and Consultation Mode Button #}

            <a href="{{ path( 'update_technic', {'id': technic.id} ) }}">

                <button id="pp-switch-edit-consult-mode" class="edition-mode" title="Switch between edition mode and consultation mode">

                    {# <img id="pp-consult-icon" class="pp-edition-mode" src="{{ asset('eye.svg', 'pp_wysiwyg')}}" height="30" width="30"  alt="eye icon"> #}

                    <img id="pp-edit-icon" class="{# pp-consultation-mode #}" src="{{ asset('pen.svg', 'pp_wysiwyg')}}" height="30" width="30"  alt="pen icon">

                </button>
                
            
            </a>
        
        {% endif %}

        

        <div class="pp-edition-mode">
        
            {% if isCreator or isAdmin %}

                {% include "technic/_show/wysiwyg.html.twig" %}
                
                <div class="my-5">

                    <a href="{{ path( 'update_technic', {'id': technic.id} ) }}"><button type="button" class="btn btn-lg btn-light">✏️ Modifier</button></a>
            
                </div>
                
            {% endif %}        

            {% if isAdmin %}

                {# Forms inclusions #}

                {% include "project_presentation/edit/slides/add_image_form.html.twig" with {'form': addImageForm} %}

                {% include "project_presentation/edit/slides/add_video_form.html.twig" with {'form': addVideoForm} %}


            {% endif %}    

        </div>
      

    </div>


{% endblock %}
