{% extends 'base.html.twig' %}

{% block stylesheets %}

    <link href="/css/technic_presentation_page.css" rel="stylesheet">

    <link href="/css/technic_wysiwyg.css" rel="stylesheet">


{% endblock %}

{% block name %}Ajouter une Méthode{% endblock %}

{% block body %}



    {% set isAdmin = false %}
    {% if is_granted('ROLE_ADMIN') %} {% set isAdmin = true %} {% endif %}

    {% set isCreator = false %}
    {% if technic.getCreator == app.user %} {% set isCreator = true %} {% endif %}


    

    <div class=" {{isCreator or isAdmin ? 'in-edition-mode'}} tp-container page-container container col-lg-11 col-xxl-9 px-0 pb-5">

        {% include "technic/_show/upper_box.html.twig" %}

        {% include "technic/_show/slideshow_text_description.html.twig" %}

        {% include "technic/_show/pros_cons.html.twig" %}

        {% include "technic/_show/notes_sources.html.twig" %}

        <div class="row">

            <div class="ps-2">
                
                <div class="d-inline-block border rounded p-3">

                    Page crée par <a href="{{path('show_user_profile', {'userNameSlug': technic.getCreator.userNameSlug})}}">{{technic.getCreator}}</a>
                
                </div>
            
            </div>

        </div>


        {% if isCreator or isAdmin %}
            
            {# Switch Between Edition Mode and Consultation Mode Button #}

            <button id="pp-switch-edit-consult-mode" class="edition-mode" title="Switch between edition mode and consultation mode">

                <img id="pp-consult-icon" class="pp-edition-mode" src="{{ asset('eye.svg', 'pp_wysiwyg')}}" height="30" width="30"  alt="eye icon">

                <img id="pp-edit-icon" class="pp-consultation-mode" src="{{ asset('pen.svg', 'pp_wysiwyg')}}" height="30" width="30"  alt="pen icon">

            </button>
        
        {% endif %}

        

        <div class="pp-edition-mode">
        
            {% if isCreator or isAdmin %}

                {% include "technic/_show/wysiwyg.html.twig" %}
                
                <div class="my-5">

                    <a href="{{ path( 'update_technic', {'id': technic.id} ) }}"><button type="button" class="btn btn-lg btn-light">✏️ Modifier</button></a>
            
                </div>
                
            {% endif %}        

            {% if isAdmin %}

                <div class="my-5">

                    <h4 class="mb-3">🔑 Actions Admin</h4>

                    <div class="border border-primary rounded mb-4 p-3">

                        {{ form_start(technicLogoForm) }}

                        {{form_widget(technicLogoForm)}}

                        <button type="submit" class="btn btn-validate mb-2 me-3">Envoyer</button>

                        {{ form_end(technicLogoForm) }}

                    </div>

                    <div class="border border-primary rounded my-4 p-3">

                        {{ form_start(technicValidationForm) }}

                            {{form_widget(technicValidationForm)}}

                            <button type="submit" class="btn btn-validate mb-2 me-3">Envoyer</button>

                        {{ form_end(technicValidationForm) }}

                    </div>
                    
                </div>


                {# Forms inclusions #}

                {% include "project_presentation/edit/slides/add_image_form.html.twig" with {'form': addImageForm} %}

                {% include "project_presentation/edit/slides/add_video_form.html.twig" with {'form': addVideoForm} %}


            {% endif %}    

        </div>
      

    </div>


{% endblock %}
